<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container-fluid">
    <h2>PNS profile</h2>
    <div align="right"><a href="/logout">Logout</a></div>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-3"><h4>Email: <code>{{email}}</code></h4></div>
    </div>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-3"><h4>App ID: <code>{{app_id}}</code></h4></div>
    </div>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-3"><h4>App Secret: <code>{{secret}}</code></h4></div>
    </div>

</div>

</body>
</html>
