<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="./client.js"></script>
</head>
<body>
<script type="text/javascript">

    var pns = new PNS();
    pns.connect("a8LiszAGwpNMsWIk","111", "http://localhost:8081/test");
</script>
<div id="alert" class="alert alert-info" style="display: none">
</div>
</body>
</html>
